*{
  margin: 0px;
}

header{
  font-family: Georgia, 'Times New Roman', Times, serif;  
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(129, 129, 129);
  margin-top: 20px;
  margin-bottom: 20px;
}

#banner{
 width: 100%;
}

.sobre{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(189, 189, 189);
}

.sobre p{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
}

ul{
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 50px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}

#barba{
  width: 50%;
  margin-left: 150px;
}

em{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

span{
  color: black;
  font-weight: normal;
}